* {
    margin: 0;
    padding: 0;
    font-size: 48px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #e67e22;
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 320px;
    font-size: 1.5em;
    overflow: hidden;
}

button {
    height: 2em;
    width: 2em;
    margin: 5px 0;
    border-radius: 100px;
    cursor: pointer;
    background-color: #1abc9c;
}

.operator {
    background-color: rgba(172, 255, 47, 0.651);
}

.top {
   display: flex;
   justify-content: space-around;
} 